<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>85253185174-s2hp0eo6rm3uvecnv36iaou5bpu9kje9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.85253185174-s2hp0eo6rm3uvecnv36iaou5bpu9kje9</string>
	<key>API_KEY</key>
	<string>AIzaSyC2UoQad5AtrfldZ8-VTpd5_Liaxf_603g</string>
	<key>GCM_SENDER_ID</key>
	<string>85253185174</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.userApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>sir-park-allot</string>
	<key>STORAGE_BUCKET</key>
	<string>sir-park-allot.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:85253185174:ios:de2bb49c6943c0bc5d2cb7</string>
</dict>
</plist>